@font-face {
    font-family: "MesloLGS NF";
    font-weight: normal;
    font-style: normal;
    src: url("https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf") format('truetype');
}
@font-face {
    font-family: "MesloLGS NF";
    font-weight: normal;
    font-style: italic;
    src: url("https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf") format('truetype');
}
@font-face {
    font-family: "MesloLGS NF";
    font-weight: bold;
    font-style: normal;
    src: url("https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf") format('truetype');
}
@font-face {
    font-family: "MesloLGS NF";
    font-weight: bold;
    font-style: italic;
    src: url("https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf") format('truetype');
}
